* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 6px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
section {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.btn {
  margin-top: 16px;
  font-weight: 400;
  display: inline-block;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-large {
  padding: 2.2rem 1.6rem;
  font-size: 2rem;
}
.btn-social {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 2rem;
}

/*search button*/

.btn-outline {
  border-color: #fff;
  color: black;
  background-color: #fff;
}

.btn-primary {
  background-color: #18bc9c;
  border-color: #18bc9c;
  color: #fff;
  padding: 1.2rem 0.7rem;
}

.btn-primary:hover {
  color: #128f76;
  border-color: #128f76;
  color: #fff;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  width: 100%;
  padding: 1rem;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  html {
    font-size: 7px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  html {
    font-size: 8px;
  }
  .col {
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  html {
    font-size: 9px;
  }
  .col {
    max-width: 33.3333%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  html {
    font-size: 10px;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

/*navbar*/

nav {
  width: 100%;
  font-family: Montserrat;
  background-color: #a89279;
  color: #fff;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  position: fixed;
  z-index: 500;
}

#logo-box {
  float: left;
  padding-top: 0.5rem;
}

#logo-box .logo {
  color: #fff;
  font-weight: 700;
  font-size: 18pt;
}

#nav-links {
  float: right;
}

#nav-links .nav-item {
  float: left;
  margin: 0.4rem;
}

#nav-links .nav-link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
  padding: 1.6rem;
  letter-spacing: 0.1rem;
  transition: color 0.3s;
}

#nav-links .nav-link:hover {
  background-color: #2c3e50;
  color: #e9ecef;
}
#nav-links .nav-icon {
  display: none;
}

@media (max-width: 992px) {
  #nav-links .nav-item {
    float: none;
    text-align: left;
  }
  #logo-box {
    float: none;
    text-align: left;
  }
  #nav-links {
    float: none;
  }
  #nav-links .nav-link {
    font-size: 16pt;
    padding-left: 80px;
  }
  #nav-links .nav-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 3rem;
  }
  #nav-links.responsive li:not(:first-child) {
    display: none;
  }
}

/*Header

header {
  background-color: #d9d9d9;
  padding-top: calc(112px + 10rem);
  padding-bottom: 112px;
  text-align: center;
}

header h1 {
  color: black;
  font-size: 48px;
}

header h2 {
  color: #fff;
  font-size: 2.8rem;
  font-family: "Lato";
  font-weight: 300;
}
*/

/* menu makanan */

#menu {
	padding-top: 150px;
}

#menu h2 {
  font-size: 36pt;
  color: black;
  padding-bottom: 20px;
  
}

.menu-item {
  position: relative;
}

.menu-item img {
  display: block;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
}

.details {
  /*padding: 20px 20px;*/
  display: grid;
  grid-row-gap: 12px;
}

.menu-detail {
  display: grid;
  grid-template-columns: auto auto;
}

.menu-detail h5 {
  font-size: 14pt;
  font-weight: 600;
  padding-top: 8px;
  color: #000000;
}

.price {
  text-align: right;
  font-size: 14pt;
  font-weight: 400;
  padding-top: 8px;
  color: brown;
}

.details > button {
  background-color: #a89279;
  border: none;
  color: white;
  font-size: 14pt;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 8px;
  /*width: 200px;*/
}

/* menu minuman*/

/* #menu-drink {
	padding-top: 100px;
} */

#menu-drink h2 {
  font-size: 36pt;
  color: black;
  padding-bottom: 20px;
  
}

.drinks {
  position: relative;
}

.drinks img {
  display: block;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
}

.details-drink {
  /*padding: 20px 20px;*/
  display: grid;
  grid-row-gap: 12px;
}

.drinks-detail {
  display: grid;
  grid-template-columns: auto auto;
}

.drinks-detail h5 {
  font-size: 14pt;
  font-weight: 600;
  padding-top: 8px;
  color: #000000;
}

.price-drink {
  text-align: right;
  font-size: 14pt;
  font-weight: 400;
  padding-top: 8px;
  color: brown;
}

.details-drink > button {
  background-color: #a89279;
  border: none;
  color: white;
  font-size: 14pt;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 8px;
  /*width: 200px;*/
}


/*footer*/
footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FAEEE0;
  color: black;
  text-align: center;
}

footer h4 {
  font-size: 14pt;
}

footer p {
  font-size: 12pt;
  margin-top: 2rem;
}
footer li {
  display: inline-block;
  padding-right: 0.4rem;
}
.copyright {
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  font-size: 12pt;
}

/* tombol search*/

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  /* border: 1px solid grey; */
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  color: white;
  font-size: 17px;
  /* border: 1px solid grey; */
  border-left: none;
  cursor: pointer;
}
